{% extends "base.html.twig" %}


{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-warning static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/images/gateway.png" alt="..." height="36" >
    </a>
    <h1 style="text-align: center;">Coviza Gateway</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.rnbcosmeticos.com/">Partner</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catálogo
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">  
            <li><a class="dropdown-item" href="/pedidos">Lista de Pedidos</a></li>
            <li><a class="dropdown-item" href="/empleados">Lista de Empleados</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/productos">Lista de Productos</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form action="/profile" method="post"> 
    <!-- Text input -->
    <div class="form-outline mb-4">
        <div class="container">
        <div class="col-md-4">
            <label class="form-label" for="form2Example1">Nombre</label>
      <input type="text" name="nombre" id="form2Example1" class="form-control" />
      
    </div>
</div>
</div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
        <div class="container">
        <div class="col-md-4">
            <label class="form-label" for="form2Example2">Cliente Cod</label>
      <input type="password" name="cliente_cod" id="form2Example2" class="form-control" />
      
    </div>
</div>
</div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input bg-warning" type="checkbox" value="" id="form2Example34" checked />
          <label class="form-check-label" for="form2Example34">Recuerdame</label>
        </div>
      </div>
  
      <div class="col-md-8">
        <!-- Simple link -->
        <a href="/" class="text-warning">Olvidaste la contraseña?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <div class="container">
        <div class="col-md-4">
    <button type="submit" class="btn btn-warning btn-block mb-4">Login</button>
  </div>
  </div>
    

{% endblock %}

{% block footer %}

<!-- Register buttons -->

<footer class="footer">
<div class="text-center">
  <p>Todavía no eres miembro? <a href="/" class="text-warning">Registrese</a></p>
  <p>o logéate con cualquiera de las RRSS:</p>
  
  <a href="https://es-es.facebook.com/"><button type="button" class="btn btn-warning btn-floating mx-1">
    <i class="fab fa-facebook-f"></i></button></a>
  
  <a href="https://www.google.es/"><button type="button" class="btn btn-warning btn-floating mx-1">
    <i class="fab fa-google"></i></button></a>

  <a href="https://twitter.com/"><button type="button" class="btn btn-warning btn-floating mx-1">
    <i class="fab fa-twitter"></i></button></a>

  <a href="https://github.com/"><button type="button" class="btn btn-warning btn-floating mx-1">
    <i class="fab fa-github"></i></button></a>
</div>
</form>
</footer>
{% endblock %}