{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning static-top">
  <div class="container">
    <a class="navbar-brand" href="/profile">
      <img src="/images/gateway.png" alt="..." height="36" >
    </a>
    <h1 style="text-align: center;">Coviza Gateway</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.rnbcosmeticos.com/">Partner</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form action="/update" method="post">
    <div class="form-group row">
        <h3>Introduzca la información que desea modificar</h3> <br><br><br><br><br><br>
      <label name="num" class="col-sm-2 col-form-label-sm">Número de Pedido</label>
      <div class="col-sm-5">
        <input name="num" type="text" class="form-control" id="" value="{{info.getPedidoNum}}">
      </div>
    </div>
    <div class="form-group row">
      <label name="cod" class="col-sm-2 col-form-label-sm">Código del Cliente</label>
      <div class="col-sm-5">
        <input name="cod" type="text" class="form-control" id="" value="{{info.getCliente().getClienteCod()}}">
      </div>
    </div>
    <div class="form-group row">
      <label name="tipo" class="col-sm-2 col-form-label-sm">Tipo de Pedido</label>
      <div class="col-sm-5">
        <input name="tipo" type="text" class="form-control" id="" value="{{info.getPedidoTipo}}">
      </div>
    </div>
    <div class="form-group row">
      <label name="total" class="col-sm-2 col-form-label-sm">Total</label>
      <div class="col-sm-5">
        <input name="total" type="text" class="form-control" id="" value="{{info.getTotal}}">
      </div>
    </div>
    <button type="submit" class="btn bg-warning">Modificar pedido</button>
  </form>
  
  
  <br>
  <a href="/profile" class="btn btn-warning">Volver</a>

{% endblock %}

{% block footer %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; Pablo_Coviza</span>
      </div>
    </footer>

{% endblock %}